#RewriteEngine On
#RewriteBase /E-Stock/
#
#RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
#RewriteRule ^ %1 [L,NE,R=302]
#
#RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
#
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(?:[^/]*/)*([^/.]+\.(?:jpe?g|gif|bmp|png|tiff|css|js))$ /assets/$1 [R=301,L,NC]
#
